%h2 Teams

%table.table.table-striped
  %thead
    %th Team
    %th Locations
    %th

  %tbody
    - @teams.each do |team|
      %tr{class: @current_team == team ? 'info' : ''}
        %td= link_to team.name, edit_team_path(team.id)
        %td= locations_summary_for(team)
        %td
          .pull-right
            - if @current_team == team
              Your team
            - else
              = link_to 'Switch to this team', select_team_path(team.id), class: 'btn btn-default btn-sm'

= link_to 'Create New Team', new_team_path, class: 'btn btn-default'